#section-header {
    background-color: blue;
    color: white;
    padding: 5px;
}

#accordion {
    width: 400px;
    background-color: yellow;
    margin: auto;
    /* max-height: 144px; */
}

#section {
    padding: 5px;
}

.content
{
    transition: max-height 0.2s ease-out;
    overflow-y: hidden;
}

.contentHide {
    padding: 0 18px;
    background-color: white;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
  }

